@charset "utf-8";
/*CSS reset 2015-6-1*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td,span,i,b{
    font-family:-apple-system,BlinkMacSystemFont,"SF Pro SC","SF Pro Text","Helvetica Neue",Helvetica,"PingFang SC","Segoe UI",Roboto,"Hiragino Sans GB",'arial',Source Han Sans CN,sans-serif;
    -webkit-font-smoothing: antialiased;
}
html,body,div,strong,span,form,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,tr,td,th,tbody,thead,input,textarea,select,fieldset,p,hr{margin:0;padding:0;font-family: "Microsoft Yahei";}
body{line-height:16px;color:#000;font-size:12px;font-family: "Arial","Hiragino Sans GB",微软雅黑,"Helvetica","sans-serif";font-weight:normal;}
table{border-collapse:collapse;border-spacing:0}
filedset,img{border:0;vertical-align:middle;-ms-interpolation-mode:bicubic}
address,em,i,caption,cite,code,th{font-weight:normal;font-style:normal}
li{list-style:none;vertical-align:bottom;list-style-type:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%}
a{text-decoration:none;color:#3D84FF;outline:none;}
a:hover{text-decoration:underline;color:#3D84FF; opacity: 0.8;}
button,input,select,textarea{margin:0;border:0;font-weight:inherit;vertical-align:baseline;*vertical-align:middle;outline:none}
button,input[type="button"],input[type="text"],select,textarea{background:none}
button,input{line-height:normal}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:none}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
input::-ms-clear { display: none; }
textarea{resize:none;vertical-align:top}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc}
div{margin:0 auto}

*{
    margin: 0;
    padding: 0;
}
#signInWnd{
    position:  absolute;
    left: 50%;
    /* align-items: center; */
    margin-left: -200px;
    width: 400px;
    height: 630px;
    background: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0,33,79,0.11);
    border-radius: 6px;
}
#signInIcon img{
    width: 145px;
    left: 50%;
    margin-left: 120px;
}
#chooseSignInway{
    width: 100%;
}
#chooseSignInway span{
    /* display: inline-block; */
    width: 60px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #777;
    transition: all ease-in .2s;
    float: left;
    margin-right: 20px;
    text-align: center;
}
#signInInfo ul li {
    right: 0;
    position: relative;
    height: 40px;
    width: 340px;
    margin-bottom: 25px;
    margin-left: 40px;

}
#signInInfo ul li input {
    background: #F6F6F6;
    border: 1px solid #EDEDED;
    width: 320px;
    padding-left: 45px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #3D4059;
    box-sizing: border-box;
}


#signInInfo ul li .input-error{
    border: 1px solid #F94F17;
    box-shadow: 0 0 8px 0 rgba(255,101,128,0.28);
}
#signInInfo ul li input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #BFBFBF;
}
#signInInfo ul li input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #BFBFBF;
} 
#signInInfo ul li input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #BFBFBF;
}
#signInInfo ul li input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #BFBFBF;
}
.wall-sub-btn {
    display: block;
    margin: 42px auto 0;
    width: 340px;
    height: 40px;
    line-height: 40px;
   
    font-size: 16px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background: #3D84FF;
}
.wall-sub-btn:hover {
    opacity: 0.8;
}
.wall-sub-btn:active {
    background-position:0 -128px;
}

.wall-sub-btn.disable {
    border-color: #E4ECEA;
    background: #E4ECEA;
    cursor: default;
    text-shadow: none;
}